
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



body{
  background: rgb(63, 61, 61);
  /*background-image: url("https://www.xmple.com/wallpaper/gradient-brown-blue-linear-1920x1080-c2-800000-191970-a-330-f-14.svg");*/
  font-family: 'Roboto', sans-serif;
  background-size:150 100vh;

}

@media(min-width: 560px){
  
  body{
    font-size:22px;
    

  }

}
@media(max-width: 560px){
  
  header{
    position: relative;
    left: 50px;

  }

  .menu{
    position: relative;
    right: 40px;

  }

}

header{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: rgb(110, 110, 110);
  position: fixed;
  width: 100vw;
  top: 0;
  font-family: 'Signika', sans-serif;
 
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu a{  
  display: block;
  padding: 10px 50px;
  color: #ffffff

}

a{
  text-decoration: none;
  color: teal;
}

a:holver{
  text-decoration: underline;
}

.menu li{
  list-style: none;
  
}

.site-subtitle,
.site-title{
  text-align: center;
  color: whitesmoke;

}

.site-title{
  font-size: 2em;
  font-family: 'Signika', sans-serif;
}

.site-subtitle{
  font-style: italic;
  margin-top:2  vh;
  font-family: 'Signika', sans-serif;
}

.portfolio h2{
  font-family: 'Palanquin Dark', sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 1em;
  font-size: 2em;
  margin-left: 1.9em;
}

.portfolio{
  padding: 2em;
  height: 100vh;

}

.img-portfolio{

  height: 180px;
  width: 280px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}



.portfolio .grid {
  display: grid;
  gap: 2em;
  color: #ffffff;
  justify-content: center;

}

@media (min-width: 620px){

  .portfolio .grid {
    grid-template-columns: repeat(2, 240px);
    text-align: center;
    align-content: center;
    height: calc(100vh - 4em -48px - 1.5em);
  }

}
@media (min-width: 920px){

  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
   
  }

}
@media (min-width: 1220px){

  .portfolio .grid {
    grid-template-columns: repeat(4, 240px);

  }

}

.portfolio figure{
  text-align: center;

}




/*
extra: ---------------------------------------
*/
.buttons button{
  
  height: 60px;
  width: 200px;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #242424;
  color: #ffffff;
  letter-spacing: 2px;
  cursor: pointer;

}

.buttons button:first-child:hover{
  background: linear-gradient( 90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4 );
  background-size: 400%;
}

.buttons button:last-child:hover{
  background: linear-gradient( 90deg, #fa7199, #f5ce62, #e43603, #fa7199 );
  background-size: 400%;
}

.buttons button:first-child:before, button:last-child:before{
  content:'';
  position: relative;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transform: opacity .5;
  

} 

.buttons button:hover:first-child:before, button:hover:last-child:before{
  opacity: 1;
  z-index: -1;
}
.buttons button:hover{
  z-index: 1;
  animation: glow 6s linear infinite;
}

@keyframes glow{
  0%{
    background-position: 0%;

  }
  100%{
    background-position: 100%;
  }

}
/*
extra: ---------------------------------------
*/