
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background: rgb(63, 61, 61);
  /*background-image: url("https://www.xmple.com/wallpaper/gradient-brown-blue-linear-1920x1080-c2-800000-191970-a-330-f-14.svg");*/
  font-family: arial;
  background-size:150 100vh;

}

@media(min-width: 560px){
  
  body{
    font-size:22px;

  }

}

header{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;

 
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu a{  
  display: block;
  padding: 10px 20px;
}

a{
  text-decoration: none;
  color: teal;
}

a:holver{
  text-decoration: underline;
}

.menu li{
  list-style: none;
}

.site-subtitle,
.site-title{
  text-align: center;
  color: whitesmoke;

}

.site-title{
  font-size: 2em;
}

.site-subtitle{
  font-style: italic;
  margin-top:2  vh;
}

.img-portfolio{

  height: 180px;
  width: 180px;
}


/*
extra: ---------------------------------------
*/
.buttons button{
  
  height: 60px;
  width: 200px;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #242424;
  color: #ffffff;
  letter-spacing: 2px;
  cursor: pointer;

}

.buttons button:first-child:hover{
  background: linear-gradient( 90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4 );
  background-size: 400%;
}

.buttons button:last-child:hover{
  background: linear-gradient( 90deg, #fa7199, #f5ce62, #e43603, #fa7199 );
  background-size: 400%;
}

.buttons button:first-child:before, button:last-child:before{
  content:'';
  position: relative;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transform: opacity .5;

} 

.buttons button:hover:first-child:before, button:hover:last-child:before{
  opacity: 1;
  z-index: -1;
}
.buttons button:hover{
  z-index: 1;
  animation: glow 8s linear infinite;
}

@keyframes glow{
  0%{
    background-position: 0%;

  }
  100%{
    background-position: 100%;
  }

}


/*
extra: ---------------------------------------
*/